spring:
  cache:
    type: redis
    redis:
      time-to-live: PT60M
  redis:
    host: ${REDIS_HOST:redis}
    port: ${REDIS_PORT:6379}
  data:
    mongodb:
      uri: mongodb://${MONGO_USER}:${MONGO_PASSWORD}@${MONGO_HOST}:${MONGO_PORT}/${MONGO_DB_NAME}?authSource=${MONGO_AUTH_SOURCE}
#      uri: mongodb://admin:admin@localhost:27017/joboffers?authSource=admin
      auto-index-creation: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

job-offers:
  offer-fetcher:
    scheduler:
      delay: PT3H
    http:
      client:
        config:
          connectionTimeout: 1000
          readTimeout: 1000
          uri: http://ec2-3-127-218-34.eu-central-1.compute.amazonaws.com:5057/offers
          port: 5057

scheduling:
  enabled: true

auth:
  jwt:
    expirationDays: 30
    secret: ${JWT_SECRET}
    issuer: job-offers-backend

server:
  port: 8000